<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
  
    <head>
        <title th:text="${titulo}">Cadastrar Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styleForm.css}">
        <link rel="stylesheet" 
        href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css%22&gt">
    </head>
    <body>
        <form th:action="@{/cadastrarPerfil}"
              th:object="${perfilDTO}" method="post">
            <h3 th:text="${titulo}">Cadastro de Perfil</h3>
            <input type="hidden"  th:field="*{id}">
            <div>
                <label for="nome">Nome</label>
                <input type="text" 
                       th:field="*{nome}"
                       id="nome"
                       required>
                
            </div>
            <div>
                <button type="submit"
                    th:text="${perfilDTO.id != null} ? 'Atualizar' : 'Cadastrar'">
                    Cadastrar 
                   <a th:href="@{/perfis}">Cancelar</a>
                </button> 
                
            </div>
                   
            
            
        </form>
    </body>
</html>
