<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>listarPerfis</title>
        <meta charset="UTF-8">
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styleListar.css}"
    </head>
    <body>
        <div class="container">
            <div th:if="${mensagem}" style="color: green; 
                 font-weight: bold">
                <p th:text="${mensagem}"></p>
            </div>
            <div class="header-actions">
                <h3>Listagem de Perfis</h3>
                <a th:href="@{/cadastrarPerfil}"
                   class="btn-primary">Novo Perfil
                </a>
            </div>
            <div></div>
          
            
            
        </div>
    </body>
</html>
